.jumbotron {
    text-align: center;
    background-color: transparent;
    color: #666;
    font-size: 21px;

    margin-bottom: 0px;
    padding-bottom: 20px;
}

.jumbotron a {
    margin-top: 20px;
}

.jumbotron h1 .img-responsive {
    margin: 0 auto;
}

.jumbotron a {
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    display: inline-block;
    background-image: none;
    font-weight: normal;
}

.btn-default {
    color: #6f00ff;
    border: 1px solid #6f00ff;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn-default:hover {
    color: white;
    background-color: #6f00ff;
    border: 1px solid #6f00ff;
}

@media (max-width: 767px) {
    .btn-responsive {
        display: inline-block;
        width: 100%;
    }
}

p,ol,ul {
    color: #666;
}

p .lead {
    font-size: 20px;
}

a {
    color: #6f00ff;
}

a:hover {
    color: #6f00ff;
}

hr.short-rule {
    width: 200px;
}
