---
---

$grey: #666;
$purple: #6f00ff;

$brand-primary: $purple;

@import "bootstrap";

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: $grey;
    font-size: 21px;

    margin-bottom: 0px;
    padding-bottom: 20px;
}

.jumbotron a {
    margin-top: 20px;
}

.jumbotron h1 .img-responsive {
    margin: 0 auto;
}

.jumbotron a {
    margin-left: 10px;
    margin-right: 10px;
}

.titlebuttons > .btn {
    display: inline-block;
    background-image: none;
    font-weight: normal;
}

.titlebuttons > .btn-primary {
    color: $purple;
    background-color: white;
    border: 1px solid $purple;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.titlebuttons > .btn-primary:hover {
    color: white;
    background-color: $purple;
    border: 1px solid $purple;
}

@media (max-width: 767px) {
    .btn-responsive {
        display: inline-block;
        width: 100%;
    }
}

p,ol,ul {
    color: $grey;
}

p .lead {
    font-size: 20px;
}

hr.short-rule {
    width: 200px;
}

.doc-container {
    padding-top: 10px;
}
