# Netbeans cruft:
/nbproject
/manifest.mf
/nbbuild.xml

# Eclipse cruft:
/.project
/.classpath
/.settings

# IntelliJ cruft:
/.idea
/*.iml
/META-INF

# Build directories:
/build
/build-lib
/dist
/out
/doc/_build

# Output files:
*.json
*.nexus
*.tree
*.newick
*.cf
*.converted
*.trees
*.state
*.stats
*.log

# Other cruft
.localrc
.localrcbye
.ipynb_checkpoints
.DS_Store
/bin/
