# Netbeans cruft:
/nbproject
/manifest.mf
/nbbuild.xml

# Eclipse cruft:
/.project
/.classpath
/.settings

# IntelliJ cruft:
/.idea
/*.iml

# Build directories:
/build
/dist
/out

# Output files:
*.json
*.nexus
*.tree
*.newick
*.cf
*.converted
*.trees
*.state
*.stats
*.log

# Other cruft
/.localrc
.ipynb_checkpoints
